{{template "base" .}}

{{define "content"}}
<div class="container">
    <div class="row">
        <div class="col">
            <h1>This is the Generals page</h1>
            <p> this came from template data {{index .StringMap "test"}}
        </div>
    </div>
</div>
{{end}}
